#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 800;
    z-index: 10;
    mix-blend-mode: difference;
    font-family: var(--pre);
    font-size: 0.7vw;
    .left {
        padding: 20px;
        > div {
            transition: all 0.3s;
            a {
                transition: all 0.3s;
                &:hover {
                    color: var(--yellow);
                }
            }
        }
    }
    .right {
        padding: 20px;
        text-align: right;
        display: inline-block;
    }
}

@media (max-width: 1400px) {
    #header {
        font-size: 1vw;
    }
}
@media (max-width: 1000px) {
    #header {
        font-size: 1.4vw;
    }
}
@media (max-width: 700px) {
    #header {
        font-size: 1.6vw;
    }
}
@media (max-width: 479px) {
    #header {
        font-size: 3vw;
    }
    #header .left {
        display: none;
    }

    #header .right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #header .right a {
        border: 1px solid var(--black400);
        border-radius: 15px;
        padding: 2px 5px;
    }
}
